body {
    height: 100%;
    color: floralwhite;
}
h1 {
    color: floralwhite;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
}
p {
    color: floralwhite;
    text-align: center;
    line-height: 3.8;
    font-size: x-large;
    font-family:cursive;
    
  }

  .hero-image {
 color: floralwhite;
    background-image: url("./q1.jpg");
    height:100% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  button {
    border-radius: 100%;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  a:hover {
    background-color: rgba(21, 128, 101, 0.753);
  }