body {

    display: grid;
    height: 100%;
    background-image: url("./q1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
}
#home_page {
 
  height:100% ;
  align-items: center;
  align-content: center;
  color: floralwhite;
  font-size: xx-large;
  font-family: cursive;
   }
.header {
  height:100% ;
  align-items: center;
  align-content: center;
  color: floralwhite;
  font-size: xx-large;
  font-family: cursive;
}
.quiz {
  color: floralwhite;
  text-align: center;
  line-height: 3.8;
  font-size: x-large;
  font-family:cursive ;
  display: grid;
  justify-content: center;
}
#answer {
  color: floralwhite;
  text-align: center;
  line-height: 3.8;
  font-size: x-large;
  font-family:cursive ;
  display: grid;
  justify-content: center;
}
#counter{
  height:100% ;
  align-items: center;
  align-content: center;
  color: floralwhite;
  font-size: xx-large;
  font-family: cursive;
  align-self: start;
  

}
#next {
  border-radius: 100%;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#َresult {
  border-radius: 100%;
  padding: 20px;
  text-align: center;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#start {
  border-radius: 100%;
  padding: 20px;
  text-align: center;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#exit {
  border-radius: 100%;
  padding: 20px;
  text-align: center;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
